@Include("../Custom/GlobalVariables.cshtml")  
<ul class="slides">
  
  @{
    var count = 0;
  }
  
  @foreach (LoopItem i in GetLoop("Item.Slides")){      	
      var image = System.Web.HttpContext.Current.Server.UrlEncode(i.GetString("Item.Slides.Image"));  
      <li class='@i.GetString("Item.Slides.ColorText")'>
          @if (i.GetBoolean("Item.Slides.Modal_Link")) {
		  	 <a href="#" data-toggle="modal" data-target="#videoModal"><img src="@image" class="img-responsive" /></a>
          	 <div class="flex-caption">
                <div class="container">
                  <a href="#" data-toggle="modal" data-target="#videoModal">
                    <h2>@i.GetString("Item.Slides.Headline")</h2>     
                    <p>@i.GetString("Item.Slides.Short_Description")</p>                    
                  </a>
                </div>
             </div> 
          } 
          else {
        	<a href='@Dynamicweb.Frontend.SearchEngineFriendlyURLs.getSearchFriendlyUrl(i.GetString("Item.Slides.Link"))'><img src="@image" class="img-responsive" /></a>
    		<div class="flex-caption">
              <div class="container">
                <a href='@Dynamicweb.Frontend.SearchEngineFriendlyURLs.getSearchFriendlyUrl(i.GetString("Item.Slides.Link"))'>
                  <h2>@i.GetString("Item.Slides.Headline")</h2>     
                  <p>@i.GetString("Item.Slides.Short_Description")</p>
                  @if (!string.IsNullOrEmpty(i.GetString("Item.Slides.Link")) && !string.IsNullOrEmpty(i.GetString("Item.Slides.Link_Text")) )
                  {        
                      <span class='button-green'>@i.GetString("Item.Slides.Link_Text")</span>
                  }
              	</a>
              </div>
            </div>
  		  }
          
      </li>
      count++;
  }
</ul>